<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.we.dao.BorrowapplyDAO">
    <resultMap id="BaseResultMap" type="com.we.bean.Borrowapply">
        <id column="baid" property="baid" jdbcType="INTEGER"/>
        <result column="rname" property="rname" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="DECIMAL"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="bzid" property="bzid" jdbcType="INTEGER"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="term" property="term" jdbcType="INTEGER"/>
        <result column="deadline" property="deadline" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        baid, rname, money, uid, bzid, time, state, type, term, deadline
    </sql>
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from borrowapply
        where baid = #{baid,jdbcType=INTEGER}
    </select>
    <delete id="removeById" parameterType="java.lang.Integer">
        DELETE FROM borrowapply
        WHERE baid = #{baid,jdbcType=INTEGER}
    </delete>
    <insert id="save" parameterType="com.we.bean.Borrowapply">
        INSERT INTO borrowapply (baid, rname, money,
                                 uid, bzid, time,
                                 state, type, term,
                                 deadline)
        VALUES (#{baid,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL},
                #{uid,jdbcType=INTEGER}, #{bzid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP},
                #{state,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{term,jdbcType=INTEGER},
                #{deadline,jdbcType=TIMESTAMP})
    </insert>
    <insert id="saveSelective" parameterType="com.we.bean.Borrowapply">
        insert into borrowapply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="baid != null">
                baid,
            </if>
            <if test="rname != null">
                rname,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="bzid != null">
                bzid,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="term != null">
                term,
            </if>
            <if test="deadline != null">
                deadline,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="baid != null">
                #{baid,jdbcType=INTEGER},
            </if>
            <if test="rname != null">
                #{rname,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                #{money,jdbcType=DECIMAL},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="bzid != null">
                #{bzid,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="term != null">
                #{term,jdbcType=INTEGER},
            </if>
            <if test="deadline != null">
                #{deadline,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateSelective" parameterType="com.we.bean.Borrowapply">
        update borrowapply
        <set>
            <if test="rname != null">
                rname = #{rname,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DECIMAL},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="bzid != null">
                bzid = #{bzid,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="term != null">
                term = #{term,jdbcType=INTEGER},
            </if>
            <if test="deadline != null">
                deadline = #{deadline,jdbcType=TIMESTAMP},
            </if>
        </set>
        where baid = #{baid,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="com.we.bean.Borrowapply">
        UPDATE borrowapply
        SET rname    = #{rname,jdbcType=VARCHAR},
            money    = #{money,jdbcType=DECIMAL},
            uid      = #{uid,jdbcType=INTEGER},
            bzid     = #{bzid,jdbcType=INTEGER},
            time     = #{time,jdbcType=TIMESTAMP},
            state    = #{state,jdbcType=INTEGER},
            type     = #{type,jdbcType=INTEGER},
            term     = #{term,jdbcType=INTEGER},
            deadline = #{deadline,jdbcType=TIMESTAMP}
        WHERE baid = #{baid,jdbcType=INTEGER}
    </update>

    <select id="listCriteria" resultType="com.we.vo.BorrowapplyVO">
        SELECT
        b.baid,b.rname,b.money, b.state, b.deadline, b.term, b.time,
        bz.bzname,
        jklx.lxname
        FROM borrowapply b, bz, jklx, user u
        WHERE
        b.uid = u.uid
        AND b.bzid = bz.bzid
        AND b.type = jklx.lxid
        <if test="query != null">
            AND b.uid = #{query.uid}
        </if>
        LIMIT #{pager.offset}, #{pager.limit}
    </select>

    <select id="countCriteria" resultType="java.lang.Long">
        SELECT count(baid)
        FROM borrowapply
        WHERE uid = #{query.uid}
    </select>
</mapper>