<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.we.dao.RewardSettingDAO" >
  <resultMap id="BaseResultMap" type="com.we.bean.RewardSetting" >
    <id column="rwid" property="rwid" jdbcType="INTEGER" />
    <result column="minmoney" property="minmoney" jdbcType="DECIMAL" />
    <result column="maxmoney" property="maxmoney" jdbcType="DECIMAL" />
    <result column="percent" property="percent" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    rwid, minmoney, maxmoney, percent
  </sql>
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from reward_setting
    where rwid = #{rwid,jdbcType=INTEGER}
  </select>
  <delete id="removeById" parameterType="java.lang.Integer" >
    delete from reward_setting
    where rwid = #{rwid,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.we.bean.RewardSetting" >
    insert into reward_setting (rwid, minmoney, maxmoney, 
      percent)
    values (#{rwid,jdbcType=INTEGER}, #{minmoney,jdbcType=DECIMAL}, #{maxmoney,jdbcType=DECIMAL}, 
      #{percent,jdbcType=DOUBLE})
  </insert>
  <insert id="saveSelective" parameterType="com.we.bean.RewardSetting" >
    insert into reward_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rwid != null" >
        rwid,
      </if>
      <if test="minmoney != null" >
        minmoney,
      </if>
      <if test="maxmoney != null" >
        maxmoney,
      </if>
      <if test="percent != null" >
        percent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rwid != null" >
        #{rwid,jdbcType=INTEGER},
      </if>
      <if test="minmoney != null" >
        #{minmoney,jdbcType=DECIMAL},
      </if>
      <if test="maxmoney != null" >
        #{maxmoney,jdbcType=DECIMAL},
      </if>
      <if test="percent != null" >
        #{percent,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="com.we.bean.RewardSetting" >
    update reward_setting
    <set >
      <if test="minmoney != null" >
        minmoney = #{minmoney,jdbcType=DECIMAL},
      </if>
      <if test="maxmoney != null" >
        maxmoney = #{maxmoney,jdbcType=DECIMAL},
      </if>
      <if test="percent != null" >
        percent = #{percent,jdbcType=DOUBLE},
      </if>
    </set>
    where rwid = #{rwid,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="com.we.bean.RewardSetting" >
    update reward_setting
    set minmoney = #{minmoney,jdbcType=DECIMAL},
      maxmoney = #{maxmoney,jdbcType=DECIMAL},
      percent = #{percent,jdbcType=DOUBLE}
    where rwid = #{rwid,jdbcType=INTEGER}
  </update>
</mapper>