<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.we.dao.RzvipCheckDAO" >
  <resultMap id="BaseResultMap" type="com.we.bean.RzvipCheck" >
    <id column="rcid" property="rcid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="huid" property="huid" jdbcType="INTEGER" />
    <result column="isok" property="isok" jdbcType="INTEGER" />
    <result column="excuse" property="excuse" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    rcid, uid, huid, isok, excuse, date
  </sql>
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rzvip_check
    where rcid = #{rcid,jdbcType=INTEGER}
  </select>
  <delete id="removeById" parameterType="java.lang.Integer" >
    delete from rzvip_check
    where rcid = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.we.bean.RzvipCheck" >
    insert into rzvip_check (rcid, uid, huid, 
      isok, excuse, date
      )
    values (#{rcid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{huid,jdbcType=INTEGER}, 
      #{isok,jdbcType=INTEGER}, #{excuse,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="saveSelective" parameterType="com.we.bean.RzvipCheck" >
    insert into rzvip_check
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rcid != null" >
        rcid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="huid != null" >
        huid,
      </if>
      <if test="isok != null" >
        isok,
      </if>
      <if test="excuse != null" >
        excuse,
      </if>
      <if test="date != null" >
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rcid != null" >
        #{rcid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="huid != null" >
        #{huid,jdbcType=INTEGER},
      </if>
      <if test="isok != null" >
        #{isok,jdbcType=INTEGER},
      </if>
      <if test="excuse != null" >
        #{excuse,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="com.we.bean.RzvipCheck" >
    update rzvip_check
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="huid != null" >
        huid = #{huid,jdbcType=INTEGER},
      </if>
      <if test="isok != null" >
        isok = #{isok,jdbcType=INTEGER},
      </if>
      <if test="excuse != null" >
        excuse = #{excuse,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rcid = #{rcid,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="com.we.bean.RzvipCheck" >
    update rzvip_check
    set uid = #{uid,jdbcType=INTEGER},
      huid = #{huid,jdbcType=INTEGER},
      isok = #{isok,jdbcType=INTEGER},
      excuse = #{excuse,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP}
    where rcid = #{rcid,jdbcType=INTEGER}
  </update>

  <select id="listCriteria" resultType="com.we.vo.RzvipCheckVO">
    <![CDATA[
        SELECT vip.rcid,vip.huid,vip.uid,vip.isok,vip.excuse,vip.date,
        u.uid,h.huid,
        u.rname as 'uName',
        if(vip.huid IS NOT NULL, h.rname, '') as 'hName'
        FROM rzvip_check vip,user u,huser h
        WHERE u.uid = vip.uid
        AND (h.huid = vip.huid or vip.huid IS NULL)
        GROUP BY vip.rcid
        ORDER BY vip.isok DESC, vip.date DESC
        limit #{pager.offset},#{pager.limit}
    ]]>
  </select>

  <select id="countCriteria" resultType="java.lang.Long">
        SELECT count(vip.rcid)  FROM  rzvip_check vip
  </select>

  <select id="getByUid" resultType="com.we.bean.RzvipCheck">
    select * from rzvip_check where uid = #{uid}
  </select>

</mapper>